<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoLaVillita.DAL.Properties.Settings.CadenaDeConexion"
            connectionString="server=localhost;user id=root;password=jymz.13021109;database=lavillita"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>