<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoLaVillita.DAL.Properties.Settings.CadenaDeConexion"
            connectionString="server=localhost;user id=LaVillitaDB;password=laVillita12345;database=lavillita;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>